Shtuciki dlea potom:
https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition1
info:
https://hridaya-yoga.com/what-is-meditation/?gclid=CjwKCAiAp8iMBhAqEiwAJb94z79PI4gJHFyShRdSmwu5bXoyDujSQDmwBkrum9Gn18geT3rTF9hnBBoCxzwQAvD_BwE