body{
    background-color: #2B2B2B;
    width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

header#main_h nav a#selected_page{
    color: #FBFF3F;
}

header#main_h{
    margin-top: 25px;
    margin-left: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

header#main_h figure{
   display: grid;
   grid-template-columns: 45px auto;
   margin: 0;
}

header#main_h figure figcaption{
    font-family: poppins ;
    font-size: 34px;
    font-weight: 400;
    width: 300px;
    margin-left: 15px;
    color: white;
}

header#main_h figure img{
    width: 45px;
    height: 45px;
}

header#main_h nav{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

header#main_h nav a{
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

header#main_h nav a:hover{ 
  color: #FBFF3F;
}

section#main_s{
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#main_s img{
    width:500px ;
    height: 400px; 
}

section#main_s div{
    display: grid;
    grid-template-rows: 90px 250px; 
}

section#main_s div h1{
    font-size: 54px;
    font-family: poppins;
    font-weight: 400;
    margin: 0px;
    color: white;
}

section#main_s div h3{
    margin: 0%;
    color: white;
    font-size: 30px;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
}

section#main_s div a{
    margin-left: 3px;
    color: #ffffff;
    font-size: 32px;
    font-family: poppins;
    border: 1px;
    border-radius: 0%;
    background-color: #50D8A7;
    width: 270px;
    text-align: center;
    border-radius: 8px;
    transition: border-radius 1.5s;
}

section#main_s div a:hover{
    margin-left: 3px;
    color: #ffffff;
    font-size: 32px;
    font-family: poppins;
    border: 1px;
    border-radius: 24px;
    background-color: #FBFF3F;
    width: 270px;
    text-align: center;
}

body img#crug1{
    position: absolute;
    transform: translate(1000px, -257px);
}

body img#crug2{
    position: relative;
    width: 300px;
    height: 300px;
    transform: translate(900px, -800px);
    z-index: -1;
}

body img#crug3{
    position: relative;
    width: 400px;
    height: 400px;
    transform: translate(-500px, -650px);
    z-index: -1;
}

body div#features_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;  
    margin-bottom: 200px;
}

body div#features_buttons h2#head_txt{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 35px;
    margin-left: 70px;
    font-family: poppins;
    font-size: 44px;
    font-weight: 400;
    color: white;
    justify-self: start;
}

body div#features_buttons a figure{
    background-color: #1B1B1B;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    margin: 0%;
    
    place-items: center;
    cursor: pointer;
    transition: background-color .3s;
}

body div#features_buttons a figure:hover{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    
    place-items: center;
    cursor: pointer;
}

body div#features_buttons a figure img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

body div#features_buttons a figure:hover img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    filter: invert(100%);
}

body div#features_buttons a figure figcaption{
    text-align: center;
    font-family: poppins;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

body div#features_buttons a figure:hover figcaption{
    text-align: center;
    font-family: poppins;
    font-size: 30px;
    font-weight: 700;
    color: #2B2B2B;
}