body{
    background-color: #2B2B2B;
    width: 1520px;
    margin:0%;
    overflow-x: hidden;
}

a, div, h1, h2, h3, p{
    font-family: poppins;
}

a{
    text-decoration: none;
}

/*First page*/

header#main_h nav a#selected_page{
    color: #FBFF3F;
}

header#main_h{
    margin-top: 25px;
    margin-left: 40px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

header#main_h a figure{
   display: grid;
   grid-template-columns: 45px 280px;
   margin: 0%;
   width: 315px;
}

header#main_h a figure figcaption{
    font-size: 34px;
    font-weight: 400;
    width: 270px;
    margin-left: 15px;
    color: white;
}

header#main_h a figure img{
    width: 45px;
    height: 45px;
}

header#main_h nav{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: start;
    column-gap: 100px;
}

header#main_h nav a{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

header#main_h nav a:hover{ 
     color: #FBFF3F;
}

section#main_s{
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#main_s img{
    width: 500px;
    height: 400px; 
    margin-left: 70px;
}

section#main_s div{
    display: grid;
    grid-template-rows: 90px 250px; 
    margin-left: 15px;
}

section#main_s div h1{
    font-size: 54px;
    font-weight: 400;
    margin: 0px;
    color: white;
}

section#main_s div h3{
    margin: 0%;
    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
}

section#main_s div a{
    margin-left: 3px;
    color: #ffffff;
    font-size: 32px;
    border: 1px;
    border-radius: 0%;
    background-color: #50D8A7;
    width: 270px;
    text-align: center;
    border-radius: 8px;
    transition: border-radius 1.5s;
}

section#main_s div a:hover{
    color: black;
    border: 1px;
    border-radius: 24px;
    background-color: #FBFF3F;
}

body img#crug1{
    position: absolute;
    transform: translate(1167px, -257px);
}

/*Second page*/

body div#features_buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    place-items: center;  
    margin-bottom: 280px;
}

body div#features_buttons h2#head_txt{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 35px;
    margin-left: 100px;
    font-size: 44px;
    font-weight: 400;
    color: white;
    justify-self: start;
}

body div#features_buttons a figure{
    background-color: #1B1B1B;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    margin: 0%;
    border:1px;
    border-radius: 0px;
    place-items: center;
    cursor: pointer;
    transition: background-color .3s;
    transition: border-radius .7s;
}

body div#features_buttons a figure:hover{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    border-radius: 25%;
    place-items: center;
    cursor: pointer;
}

body div#features_buttons a figure img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

body div#features_buttons a figure:hover img{
    filter: invert(100%);
}

body div#features_buttons a figure figcaption{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

body div#features_buttons a figure:hover figcaption{
    color: #2B2B2B;
}

/*Section "what is meditation"*/

body section#section_definition{
    background-color: #50D8A7;
    width: 100%;
}

body section#section_definition div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

body section#section_definition div h2{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 35px;
    margin-left: 100px;
    font-size: 44px;
    font-weight: 400;
    color: white;
    justify-self: start;
}

body section#section_definition div p{
    margin-left: 100px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    justify-self: start;
    margin-top: 0%;
}

body section#section_definition div img{
    width: 600px;
    height: 400px;
    place-self: center;
}

body section#section_definition div a{
    color: black;
    background-color: #FBFF3F;
    width: 250px;
    height: 55px;
    margin-left: 100px;
    font-size: 32px;
    font-family: poppins;
    border: 1px;
    border-radius: 0%;
    text-align: center;
    border-radius: 8px;
    transition: background-color .4s;
    transition: color .4s;
}

body section#section_definition div a:hover{
    color: white;
    background-color: #1B1B1B;
}

/*Section methods of meditation*/

body section#section_methods{
    background-color: #FBFF3F;
}

body section#section_methods div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(3, 2fr) 1fr;
    row-gap: 55px;
}

body section#section_methods h2{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 35px;
    margin-left: 100px;
    font-size: 44px;
    font-weight: 400;
    color: black;
    justify-self: start;
}

body section#section_methods p{
    font-size: 24px;
    font-weight: 400;
    color: black;
    justify-self: start;
    margin-top: 0%;
}

body section#section_methods p.container-right{
    font-size: 24px;
    font-weight: 400;
    color: black;
    justify-self: start;
    margin-top: 0%;
    margin-right: 100px ;
}

body section#section_methods p.container-left{
    font-size: 24px;
    font-weight: 400;
    color: black;
    justify-self: start;
    margin-top: 0%;
    margin-left: 100px ;
}

body section#section_methods div img.sec2_img{
    width: 500px;
    height: 280px;
    place-self: center;
}

body section#section_methods div a{
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
    color: black;
    background-color: #50D8A7;
    width: 250px;
    height: 55px;
    font-size: 32px;
    border: 1px;
    text-align: center;
    border-radius: 8px;
    transition: background-color .4s;
    transition: color .4s;
}

body section#section_methods div a:hover{
    color: white;
    background-color: #1B1B1B;
}

/*section benefits*/
body section#section_benefits{
    width: 100%;
    background-color: #ffffff;
}

body section#section_benefits div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 125px;
    row-gap: 55px;
}

body section#section_benefits h2{
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 35px;
    margin-left: 100px;
    font-size: 44px;
    font-weight: 400;
    color: black;
    justify-self: start;
}

body section#section_benefits div figure{
    display: grid;
    grid-template-rows: 1fr 160px;
    row-gap: 29px;
}

body section#section_benefits div figure img{
    width : 250px;
    height: 170px;
    place-self: center;
}

body section#section_benefits div figure figcaption{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

body section#section_benefits div a{
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: end;   
    margin-right: 100px;
    color: white;
    background-color: #1B1B1B;
    width: 250px;
    height: 55px;
    font-size: 32px;
    border: 1px; 
    text-align: center;
    border-radius: 8px;
    transition: background-color .4s;
    transition: color .4s;
}

body section#section_benefits div a:hover{
    color: black;
    background-color: #50D8A7;
}

footer{
    width: 100%;
    background-color: #2B2B2B;
}

/*Q&A page*/

section#questionSearch{
    margin-top: 30px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 720px 1fr;
}

section#questionSearch input{
    height: 35px;
    border-radius: 10px;
    background-color: #1B1B1B;
    color:white;
    font-size: 20px;
    border-color: none;
    margin-left: 60px;
}

section#questionSearch a#yourQuestion{
    justify-self: flex-end;
    width: 250px;
    height: 45px;
    font-size: 26px;
    border: 1px;
    color: white;
    background-color: #50D8A7;
    text-align: center;
    border-radius: 8px;
    margin-right: 30px;
    transition: all, .1s;
}

section#questionSearch a#yourQuestion:hover{
    background-color: #1B1B1B;
}

[type="text"] {
    padding: 4px;
    -webkit-box-shadow: 0 0 3px 2px #1B1B1B;
    -moz-box-shadow: 0 0 3px 2px #1B1B1B;
    box-shadow: 0 0 3px 2px #1B1B1B;
    border: 1px solid gray; 
    transition: all .3s;
}
[type="text"]:focus {
    outline: none; 
    border: 2px solid;
    -webkit-box-shadow: 0 0 3px 2px #50D8A7;
    -moz-box-shadow: 0 0 3px 2px #50D8A7;
    box-shadow: 0 0 3px 2px #50D8A7;
    border-color: #50D8A7;
}

#popularQuestions{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, auto);
}

#popularQuestionTitle{
    margin-top: 35px;
    font-size: 44px;
    font-weight: 400;
    color: white;
    justify-self: start;
}

#popularQuestions{
    font-size: 24px;
    margin-left: 100px;
    margin-right: 30px;
}

#popularQuestions p{
    margin-left: 15px;
}

.darkQuestion{
    background-color: #1B1B1B;
    cursor: pointer;
    position: relative;
    color: white;
    transition: all .3s;
}

.darkQuestion:hover{
    font-size: 26px;
}

.colorfulQuestion{
    background: linear-gradient(#50D8A7, #FBFF3F) ;
    cursor: pointer;
    position: relative;
    transition: all .3s;
}

.colorfulQuestion:hover{
    font-size: 26px;
}